body{
    background-color: rgb(228, 227, 156);
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content{
    display: flex;
    flex-direction: column;

    min-height: 80vh;
    margin: 15px;
    padding: 15px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#head{
    display: flex;
    flex-direction: column;

    font-weight: bold;

    margin-bottom: 15px;
    margin-top: -9px;
    margin-left: -9px;
    margin-right: -9px;
    padding: 10px;

    height: auto;

    background-color: rgba(255, 255, 255, 0.8);
    color: bisque;
    border: 2px solid rgb(110, 95, 95);
    border-radius: 10px;
}

#head h2{
    font-size: 20px;
    margin-bottom: 5px;
    width: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px;
    color: rgb(6, 17, 16);
}

h1{
    color: rgb(110, 110, 202);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 50px;
    margin: 5px;
}

footer{
    text-align: right;
    font-size: 15px;
    color: rgb(100, 100, 150);
    padding: 10px;
    margin: 20px;
}

a{
    color: rgb(150, 150, 250);
    text-decoration: none;
    margin: 10px;
    text-align: right;
}

a:hover{
    text-decoration: solid underline;
    text-emphasis-color: inherit;
    color: rgb(200, 200, 255);
}
