#welcome_box{
    color: white;

    margin-bottom: 20px;
    padding: 15px;

    border-radius: 10px;
}

#welcome_box h2{
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
}

#projects{
    display: flex;
    flex-direction: column;

    min-height: 75vh;
    margin: -15px;
    padding: 15px;
}

.project{
    color: white;
    font-size: 20px;
}

